./apps/auth/.turbo/
./apps/auth/dist/
./apps/auth/test/
./apps/auth/bin/
./apps/auth/README.md
./apps/auth/Dockerfile
./apps/auth/jest.config.ts
./apps/auth/.local.env


./apps/web/.turbo/
./apps/web/dist/
./apps/web/test/
./apps/web/bin/
./apps/web/README.md
./apps/web/Dockerfile
./apps/web/jest.config.ts
./apps/web/.env.local
./apps/web/.env.sample


